%h1 Hello World!
%p
  Welcome to your first Wicked app.
%p
  Wicked is a modern, aspect-oriented architecture based on MVC and observer patterns. Wicked features ActiveRecord, HAML, SASS, and quick execution.